:root{
  --primary-color: #69d0f0;
  --secondary-color: #1e2020f6;
  --primary-accent-color: #6c63ff;
  --secondary-accent-color: #e05429ec;
  --primary-font: 'Poppins', sans-serif;
  --primary-font-color: #ffffffbb;
  --box-shadow: 0 5px 10px #01718036;
}

body {
  margin: 0;
}

h1, h2 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2.5rem;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

.navIcon {
  width: 20px;
}
.heroIcon {
  width: 150px;
  margin: 0 auto;
}

.block__heading {
  margin-top: 0;
}
section {
  padding: 5rem 0;
  box-shadow: var(--box-shadow);
  background-color: var(--secondary-color);
  color: var(--primary-font-color);
}
.btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: var(--primary-accent-color);
  color: white;
  border: 1px solid var(--primary-color);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: var(--primary-accent-color);
}

.product_danger {
  border: 1px solid red;
  overflow: auto;
}

.product_low {
  border: 1px solid yellow;
  overflow: auto;

}
.product_ok {
  border: 1px solid green;
  overflow: hidden;
}

.login {
  border-radius: 5px;
  box-shadow: var(--box-shadow);

  background-image: url('/static/img/door.webp'); /* Adjust path as necessary */
  background-repeat: no-repeat;
  color: white;
}
.signup {
  border-radius: 5px;
  box-shadow: var(--box-shadow);

  background-image: url('/static/img/doorOpen.webp'); /* Adjust path as necessary */
  background-repeat: no-repeat;
  color: white;
}


#id_username, #id_password, #id_email, #id_password1, #id_password2, #id_name, #id_price, #id_description, #id_price, #id_old_password, #id_new_password1, #id_new_password2 {
  width: 50%;
  margin: 0 auto;
  display: block;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  .login, .signup {
    background-position:50% 0%;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  
  #id_username, #id_password {
    width: 100%;
  }
  .heroIcon {
    width: 50px;
  }
}
