{% extends '../inventory/base.html' %}
{% block title %}Products{% endblock %}
{% block body_title %}Product list{% endblock %}

{% block content %}
<h2>Products:</h2>
<!-- Search form -->
<div class="row">
  <div class="container">

<form method="get" style="margin-bottom: 20px;">
  <input class="form-control"
    type="text"
    name="q"
    placeholder="Search products..."
    value="{{ request.GET.q }}"
  />
  <button class="btn btn-primary form-control" type="submit">Search</button>
</div>
</div>

  <!-- Sorting options -->
<div class="row">
  <div class="col-5">
    <select class="form-control"  name="sort">
      <option value="name">Name</option>
      <option value="price">Price</option>
      <option value="stock">Stock</option>
      <option value="category">Category</option>
    </select>
  </div>
  <div class="col-5">
    <select class="form-control" name="order">
      <option value="asc">Ascending</option>
      <option value="desc">Descending</option>
    </select>

  </div>
  <div class="col-2">
    <button class="btn btn-primary form-control" type="submit">Sort</button>
  </div>
</div>




<!-- Product list -->
<div class="container">
  <table class="table table-hover">
    {% if products and user.is_authenticated %}
    <p>You are logged in as {{ user.username }}</p>

    <thead>
      <tr class="table-info">
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    {% for product in products %}
    <tbody>
      <tr class="{{ product.color }}">
        <th scope="row"> {{ product.name }}</th>
        <td>{{ product.price }}</td>
        <td>{{ product.stock }}</td>
        <td>{{ product.description | truncatewords:10 }}</td>
        <td>{{ product.category.name }}</td>
        <td><a href="{% url 'product_edit' product.id %}">Edit</a></td>
        <td><a href="{% url 'product_delete' product.id %}">Delete</a></td>
      </tr>
    </tbody>
    {% endfor %}
    {% else %}
    <thead>
      <tr class="table-info">
        <th scope="col">Product</th>
        <th scope="col">Description</th>
        <th scope="col">Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr class="{{ product.color }}">
        <th scope="row"> {{ product.name }}</th>
        <td>{{ product.description }}</td>
        <td>{{ product.stock }}</td>
      </tr>
    </tbody>
    {% endif %}
  </table>
</div>
{% endblock %}
