{% extends 'inventory/base.html' %} 
{% block title %}Home{% endblock %}
{% block body_title %}Home{% endblock %}

{% block content %}
<h2>Home sweet home!</h2>
{% if user.is_authenticated %} Hi {{ user.username }}!
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
<p><a href="{% url 'password_reset' %}">Password Reset</a></p>
<a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
<p>Welcome to the inventory management system!</p>
<p><a href="{% url 'product_list' %}">View Products</a></p>
{% endblock %}
