{% extends '../inventory/base.html' %} 
<!--  styling boody tag -->
{% block body_attr %} 
class="login"
data-aos="zoom-in"
data-aos-easing="linear"
data-aos-duration="400"
{% endblock %}
<!---->
{% block title %}We'll miss you!{% endblock %}
<!---->
{% block body_title %}Logout{% endblock %}
<!----->
{% block content %}
<div class="container justify-content-center">
    <h2 data-aos="fade-right" class=" text-center ">You have been logged out</h2>
</div>
<div class="container justify-content-center">

    <a href="{% url 'login' %}">Log in again</a>

</div>
{% endblock %}
