{% extends '../inventory/base.html' %} 
{% block title %}Login{% endblock %}
{% block body_title %}Login{% endblock %}

{% block content %}
<div class="container"><h2 data-aos="fade-right"> Identify yourself</h2>
  <div class="container" data-aos="fade-right"
  data-aos-offset="300"
  data-aos-easing="ease-in-sine">  
  {% if form.errors %}
<p class="errornote">Your username and password didn't match. Please try again.</p>
{% endif %}
</div>
<div  data-aos="fade-up"
data-aos-easing="linear"
data-aos-duration="1500" class="container row gy-3 align-items-center">
  <form class="form-group" action="{% url 'login' %}" method="post">
    {% csrf_token %} 
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
</div>
</div>
{% endblock %}


