{% extends '../inventory/base.html' %} 
{% block body_attr %} 
class="signup"
data-aos="zoom-in"
data-aos-easing="linear"
data-aos-duration="400"
{% endblock %}
<!---->
{% block title %} Password Reset {% endblock %}
<!---->
{% block body_title %}Reset your Password{% endblock %}
<!---->

{% block content %}

<div class="container justify-content-center text-center my-5 py-5 rounded shadow p-3 mb-5">
   <div class="card">
    <form class="form-group " method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn" type="submit">Reset Password</button>
    </form>
   </div>
</div>
{% endblock %}