{% extends '../inventory/base.html' %} 
{% block title %}Sign Up{% endblock %}
{% block body_title %}Sign Up{% endblock %}
{% block content %}
<div data-aos="zoom-out-left" class="container">
  <div class="container row gy-3 align-items-center">
 {% if form.errors %}
<p data-aos="fade-right" data-aos-offset="250" data-aos-easing="ease-in-sine" class="errornote">Your username and password didn't match. Please try again.</p>
{% endif %}
  <form class="form-group" method="post">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Sign up</button>
  </form>
  </div>
</div>

{% endblock %}
